
<header id="header">
    <div class="container-fluaid ">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-purple">
        <h1 class="essential"> <i class="fa-solid fa-bolt fa-flip fa-lg mx-2 "></i>ToDO APP</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link mr-3" routerLink="/public/home"><span class="fas fa-home fa-beat mx-1"></span>HOME </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " routerLink="/public/signup"><span class="fas fa-user-plus fa-beat mx-1"></span>SIGNUP </a>
           
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/public/login"><span class="fas fa-sign-in-alt fa-beat mx-1"></span> LOGIN</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>